<script setup lang="ts">
import { trello } from '../helpers';

const icon = `${document.location.href}/gitlab.png`;
trello.initialize({
  'card-back-section': function (t: any, _ops: any) {
    return {
      title: 'Gitlab details',
      icon: icon,
      content: {
        type: 'iframe',
        url: t.signUrl('./card-details'),
        height: 400, // Max height is 1500.
      }
    };
  },
  'show-settings': function (t: any, _options: any) {
    // when a user clicks the gear icon by your Power-Up in the Power-Ups menu
    // what should Trello show. We highly recommend the popup in this case as
    // it is the least disruptive, and fits in well with the rest of Trello's UX
    return t.popup({
      title: 'Gitlab parameters',
      url: './settings',
      height: 575
    });
  }
});
</script>
<template></template>