<script setup lang="ts">

import { Ref, ref } from 'vue';
import { GitlabRepositoryInfo, TrelloData, getTrelloData, setTrelloData, regexCardId } from '../helpers';

/**
 * Default perPage value
 */
const DEFAULT_PER_PAGE = 50;

/**
 * Default regex value
 */
const DEFAULT_REGEX = `\b${regexCardId}\b\\s?-`;

let repoInfos: Ref<GitlabRepositoryInfo[]> = ref([]);
let perPage: Ref<number> = ref(0);
let regex: Ref<string> = ref('');

// Initialize input w/ values from data
let data: Ref<TrelloData>;
getTrelloData().then(d => {
  data = ref(d);

  if (!data.value) {
    data.value = {
      repoInfos: [],
      perPage: DEFAULT_PER_PAGE,
      regex: DEFAULT_REGEX
    };
  }
  repoInfos.value = data.value.repoInfos;

  // If empty data, add empty repo info for input
  if (!repoInfos.value.length) {
    addRepoInfo();
  }

  // If empty or 0 per page, set to default
  if (!data.value.perPage) {
    data.value.perPage = DEFAULT_PER_PAGE;
  }
  perPage.value = data.value.perPage;

  // If empty regex, set to default
  if (!data.value.regex) {
    data.value.regex = DEFAULT_REGEX;
  }
  regex.value = data.value.regex;
})

/**
 * Add repo info to array to display new empty form inputs for user
 */
function addRepoInfo(): void {
  repoInfos.value.push({ apiUrl: '', repoName: '', repoId: '', accessToken: '' });
}

/**
 * Remove repo info from array
 * @param repoInfo repo info to delete
 */
function removeRepoInfo(repoInfo: GitlabRepositoryInfo): void {
  const index = repoInfos.value.indexOf(repoInfo);
  if (index !== -1) {
    repoInfos.value.splice(index, 1);
  }
}

/**
 * Function called in html to update input values in trello data 
 */
function save(): void {
  data.value.repoInfos = repoInfos.value;
  data.value.perPage = perPage.value;
  data.value.regex = regex.value;
  setTrelloData(data.value);
}
</script>

<template>
  <form>
    <div>
      <label for="perPage">Number of commits to scan per page</label>
      <input id="perPage" type="number" :placeholder="`${DEFAULT_PER_PAGE}`" v-model="perPage" />
    </div>
    <div>
      <label for="regex">
        <a href="https://github.com/google/re2/wiki/Syntax">RE2</a>
        Regex to filter branches & commits with trello card ID
      </label>
      <input id="regex" :placeholder="`${DEFAULT_REGEX}`" v-model="regex" />
      <small>Use {{ regexCardId }} to identify card id in regex</small>
    </div>
    <hr />
    <div v-for="repoInfo in repoInfos">
      <div class="repo-name-button">
        <div>
          <label for="repoName">Repository name (alias in Trello)</label>
          <input id="repoName" placeholder="Backend" v-model="repoInfo.repoName" />
        </div>
        <button @click="removeRepoInfo(repoInfo)" type="button" class="mod-danger">Delete</button>
      </div>
      <div>
        <label for="apiUrl">Gitlab Host</label>
        <input id="apiUrl" placeholder="https://gitlab.com" v-model="repoInfo.apiUrl" />
      </div>
      <div>
        <label for="repoId">Project ID</label>
        <input id="repoId" placeholder="34913256" v-model="repoInfo.repoId" />
      </div>
      <div>
        <label for="accessToken">Access Token</label>
        <input id="accessToken" type="password" v-model="repoInfo.accessToken" />
      </div>
      <hr />
    </div>

    <!-- Buttons -->
    <button @click="addRepoInfo()" type="button" class="add">Add a repository</button>
    <button @click="save()" type="submit" class="save mod-primary">Save</button>
  </form>
</template>

<style lang="scss" scoped>
button.add {
  margin-right: 5px;
}

.repo-name-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  >div {
    >label {
      margin-top: 0;
    }

    >input {
      margin-bottom: 0;
    }
  }

  >button {
    margin-top: 18px;
  }
}
</style>